
body{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    margin: 0;
    padding-top: 50px; /* Espaço para o cabeçalho fixo */
}

.text-sm{
    font-size: 18px;
}

.text-md{
    font-size: 24px;
}
.text-lg{
    font-size: 30px;
}
.text-xxl{
    font-size: 50px;
    letter-spacing: 5px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.inline{
    display: inline;
}

header{
    background-color: rgb(31, 29, 29);
    color: rgb(235, 235, 235);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Mantém o cabeçalho acima de outros conteúdos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para destaque */
}

.clear-link{
    text-decoration: none;
}
.menu > a{
    color: aliceblue;
    transition: color 0.2s ease-in-out;
}

#home{
    padding-top: 15%;
    text-align: center;
    width: 100%;
    height: 33lvw;

    background-color: rgb(31, 29, 29);
}

#home > *{
    color: aliceblue;
}
#home-sobre, #home-nome, #home-links{
    margin-top: 25px;
}

.links-width-margin{
    width: 25px;
    margin: 10px 5px;
}
#home-foto{
    width: 100px;
    border-radius: 50%;
}


.menu > a:hover{
    color: rgb(24, 128, 219);
}

#sobre{
    padding: 5% 20%;
    height: auto;
}

#sobre-texto{
    margin-top: 20px;
}

#footer-copyright{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    text-align: center;
    justify-content: center;
    color: aliceblue;
}


#contato-body {
    margin-top: 6%;
    background-color: rgb(51, 48, 48);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contato{
    color: aliceblue;
    padding: 2% 15% 2% 15%;
    letter-spacing: 1px;
    display: flex;
}

#box-contato {
    background-color: rgb(31, 29, 29);
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    min-height: 450px;
    width: 800px;
    color: aliceblue;
}


.flex-divid {
    flex: 1;
    padding: 3%;
}

.input-contato {
    border: none;
    margin-bottom: 30px;
    width: 95%;
    height: 30px;
    border-bottom: 2px solid rgb(24, 128, 219);

    outline: 0;
    color: aliceblue;
    font-size: 0.9rem;
    padding: 8px 15px 0 15px;
    background: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-contato-textarea {
    height: 120px;
}

.field-group {
    position: relative;
    padding: 15px 0 0;
}

.label-field {
    position: absolute;
    top: 0px;
    left: 15px;
    height: 17px;
    display: block;
    border-radius: 4px;
    font-size: 1rem;
    color: gray;
}

#contato-botao {
    width: 50%;
    height: 30px;
    background-color: rgb(24, 128, 219);
    border: none;
    border-radius: 20px;
    color: aliceblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#contato-botao:hover{
    border: 1px solid rgb(69,169,169);
}

#header-contato {
    color: aliceblue;
}

#contato a {
    color: rgb(24, 128, 219);
    font-size: 20px;
}

.margin-right-md {
    margin-right: 10px;
}

main #contato{
    background-color: rgb(31, 29, 29);
}

#contato-footer{
    margin-top: 15%;
}

.error-validacao {
    background-color: rgb(219, 37, 24, 0.3);
    text-align: center;
    margin-bottom: 0;
    animation: fadeIn 0.4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}