
body{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    margin: 0;
    padding-top: 50px; /* Espaço para o cabeçalho fixo */
}

.text-sm{
    font-size: 18px;
}

.text-md{
    font-size: 24px;
}
.text-lg{
    font-size: 30px;
}
.text-xxl{
    font-size: 50px;
    letter-spacing: 5px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.inline{
    display: inline;
}

header{
    background-color: rgb(31, 29, 29);
    color: rgb(235, 235, 235);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Mantém o cabeçalho acima de outros conteúdos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para destaque */
}

.clear-link{
    text-decoration: none;
}
#menu > a{
    color: aliceblue;
    transition: color 0.2s ease-in-out;
    margin: 10px;
}

#home{
    padding-top: 15%;
    text-align: center;
    width: 100%;
    height: 33lvw;

    background-color: rgb(31, 29, 29);
}

#home > *{
    color: aliceblue;
}
#home-sobre, #home-nome, #home-links{
    margin-top: 25px;
}

.links-width-margin{
    width: 25px;
    margin: 10px 5px;
}
#home-foto{
    width: 100px;
    border-radius: 50%;
}

#menu > a:hover{
    color: rgb(24, 128, 219);
}

#sobre{
    padding: 5% 20%;
    height: auto;
}

#sobre-texto{
    margin-top: 20px;
}

footer{
    background-color: rgb(31, 29, 29);
    color: aliceblue;
    padding: 5% 15% 0 15%;
    letter-spacing: 1px;
}

#footer-copyright{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    z-index: 1000;
    /* height: 40px; */
    padding: 10px 0;
    text-align: center;
    justify-content: center;
    color: aliceblue;
}

#contato  a{
    color: rgb(24, 128, 219);
}
#contato-links{
    margin: 20px 0;
}
#contato-links div{
    margin-top: 3px;
}

#contato{
    display: flex;
}

.flex-divid{
    flex:1;
    padding: 3%;
}
.input-contato {
    border: none;
    margin-bottom: 15px;
    width: 100%;
    height: 30px;
    border-bottom: 2px solid rgb(24, 128, 219);
    
    outline: 0;
    color: aliceblue;
    font-size: 0.9rem;
    padding: 8px 15px 0 15px;
    background: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.input-contato-textarea{
    height: 120px;
}

.field-group {
    position: relative;
    padding: 15px 0 0;
}

.label-field {
    position: absolute;
    top: 0px;
    left: 15px;
    height: 17px;
    display: block;
    border-radius: 4px;
    font-size: 1rem;
    color: gray;
}

#contato-botao{
    width: 107%;
    height: 30px;
    background-color: rgb(24, 128, 219);
    border: none;
    border-radius: 5px;
    color:aliceblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
